<p>HuerkeasdnTools Test</p>

<div class="container">
  <h1 class="text-center"> Huerken Secret </h1>
  <h2 class="text-center"> To many secrets </h2>
  <div class="col-sm-6 col-sm-offset-3">
    <textarea class="form-control" rows="3" ng-model="textToEncript"></textarea>
    <button ng-click="encryptMess()">Encriptar</button>
    <ul ng-if=" databaseInfo.length > 0 ">
      <li ng-repeat="historial in databaseInfo">
        <p> id: {{historial.ScMess.hash_id}}</p>
        <b>key: {{historial.ScMess.key}}</b> <i>iv: {{historial.ScMess.iv}}</i> <b>tag: {{historial.ScMess.tag}}</b> <span> mess: {{historial | decriptMess }}</span>
      </li>
    </ul>
  </div>
</div>